* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.app-body {
  display: flex;
  height: calc(100vh - 60px);
}

.content {
  flex: 1;
  padding: 20px;
  background: #1f1f1f;
  color: white;
}
